* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    background-image: url("assets/images/background.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 45px;

    width: 130px;
}

#logo-name {
    margin-left: 25px;
    font-weight: bolder;
    color: #797979;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 34px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1 {
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 2px;
    background: #f67c92;
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 2px;
    background: #f67c92;
    display: inline-block;
}

.line {
    line-height: 8px;
}

#sideNav {
    width: 235px;
    height: 100vh;
    position: fixed;
    right: -235px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

#sideNav .fa {
    margin-right: 8px;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 55px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/*ABOUT US */
#about {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
    animation-name: image;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.about-right-col {
    flex-basis: 50%;
    text-align: right;
}

.about-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.about-text h2 {
    margin: 50px 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
}

.about-text h3 {
    font-size: 19px;
    font-style: italic;
    color: #797979;
}

/* features */

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-col {
    flex-basis: 26.6%;
    text-align: center;
}

.features-col img {
    width: 100px;
    transition-duration: 0.5s;
}

.features-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.features-Btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.left-line {
    line-height: 8px;
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

.right-line {
    line-height: 8px;
    text-align: left;
    display: inline-block;
    margin-left: 25px;
}

/* COURSES */

#courses {
    padding: 100px 0;
}

.courses-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.courses-right-col {
    flex-basis: 50%;
}

.courses-right-col img {
    width: 100%;
    animation-name: image;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.courses-left-col {
    flex-basis: 50%;
}

.courses-text {
    max-width: 350px;
}

.courses-text button {
    margin: 30px 0;
}

#offers {
    padding: 65px 0 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#offers button {
    margin: 30px 0;
}

/* CONTACT */
.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
    flex-basis: 50%;
}

.contact-right-col img {
    width: 100%;
    animation-name: image;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

form {
    max-width: 350px;
    margin: 30px 0;
}

form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}

.contact-btn {
    margin-top: 10px;
}

/* footer */

#footer {
    padding: 50px 0 30px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col {
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-right-col {
    flex-basis: 35%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: #ec4b71;
    font-weight: bold;
    margin-bottom: 20px;
}

.link-title small {
    font-size: 13px;
    color: #777;
}

.footer-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    margin-top: 10px;
    width: 90px;
}

.footer-logo button {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright-text,
.footer-logo {
    flex-basis: 40%;
}

/* SOCIAL ICONS */

.social-icons {
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 1;

}

.social-icons img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

/* READ MORE AND LESS */

#more {
    display: none;
}

/* Transitions */
.features-col img:hover {
    width: 110px;
}

button:hover {
    background-color: #eeeaec;
}

@keyframes icon {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover {
    animation-name: icon;
    animation-duration: 1s;
}

#menuBtn:hover {
    transform: scale(1.2);
}

#menuBtn {
    transition: 1s;
}

/* Animations */

@keyframes image {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* styling for small screen devices */
@media only screen and (max-width :970px) {
    #header {
        background-image: none;
    }

}

@media only screen and (max-width :770px) {
    #header {
        background-image: none;
    }

    .container {
        margin-right: 50px;
        margin-left: 50px;
    }

    .logo {
        margin-top: 27px;

        width: 80px;
    }

    #logo-name {
        margin-left: 10px;
        font-size: small;
    }

    .header-text {

        margin-top: 100px;
    }

    h1 {
        font-size: 25px;
    }

    #menuBtn {
        width: 40px;
        right: 50px;
    }

    .common-btn {
        padding: 10px 16px;
    }

    .social-icons img {
        width: 14px;
        margin: 15 auto;
    }

    /* about */
    .about-left-col,
    .about-right-col {
        flex-basis: 100%;
    }

    .about-text {
        margin: 50px 50px 0;
        display: inline-block;

    }

    .about-text h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-style: italic;
    }

    /* features */

    .features-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .courses-left-col {
        flex-basis: 100%;
    }

    .courses-right-col {
        flex-basis: 100%;
        margin-top: 70px;
    }

    /* contact */

    .contact-left-col,
    .contact-right-col {
        flex-basis: 100%;
    }

    .contact-right-col {
        margin-top: 70px;
    }

    /* footer */

    .footer-left-col,
    .footer-right-col {
        flex-basis: 100%;
    }

    .link-title {
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}